.mat-dialog-content {
  z-index: 1000;
}

.custom-input-size {
    width: 100%;
  }
  
  .custom-input-size .mat-form-field-flex {
    padding: 0.5em 0em;
  }
  
  .custom-input-size .mat-form-field-infix {
    padding: 0em 0.5em;
  }
  