<div class="catalog-container">
    <h1 class="title">Catálogo</h1>
    <div class="filter">
        <button mat-raised-button (click)="openFilterModal()"><i class="fa-solid fa-filter"></i> Filtrar</button>
    </div>
    
    <div *ngFor="let residence of residences" class="residence-card">
      <img [src]="residence.image" alt="Imagem da Residência" />
      <div class="residence-info">
        <span class="price">{{ residence.price }}</span>
        <div class="details">
          <div class="info-item">Quartos: {{ residence.bedrooms }} </div>
          <div class="info-item">M²: {{ residence.sqMeters }} m²</div>
          <div class="info-item">{{ residence.location }}</div>
        </div>
      </div>
    </div>
  </div>
  