<aside class="sidebar">
    <div class="profile-container">
      <img class="profile-image" src="../../../assets/profile.png" alt="Imagem de Perfil" />
      <div class="profile-links">
          <a [routerLink]="['/sair']" class="logout-link">Sair</a>
        <a [routerLink]="['/editar-perfil']" class="edit-profile-link">Editar Perfil</a>
      </div>
      <div class="separator"></div> 
    </div>
    <nav class="menu">
      <ul>
        <li class="menu-item" *ngFor="let item of menuItems"><a [routerLink]="[item.rota]">{{ item.nome }}</a></li>
      </ul>
    </nav>
  </aside>
  